<div ng-controller="CreateReportCtrl" ng-init="getGuardBuilding()" >
  <section id="main-content">
          <section class="wrapper">            
              
      
              <div class="col-md-12 portlets">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Create Alert</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      
                                      <form class="form-horizontal">
                                          <!-- Title -->
                                         <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags">Date </label>
                                             <div class="col-lg-10">
                                              <input type="date" class="form-control" id="tags" ng-model="alert_date" value="alert_date | date: 'yyyy-MM-dd'" required>
                                            </div> 
                                            </div>
                                            <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags">Time </label>
                                             <div class="col-lg-10">
                                              <input type="time" class="form-control" id="tags" ng-model="time">
                                            </div> 
                                            </div>
                                              
                                          <!-- Content -->
                                           
                                         <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags" required>Building </label>
                                             <div class="col-lg-10">
                                            
                                              <select class="form-control"  ng-model="idbuilding" required >
                                                  <option value="{{data.idbuilding}}" ng-repeat="data in guardSchedule | filter:building">{{data.buildingname}}</option>
                                    
                                                  
                                                </select> 
                                               
                                            </div> 
                                            </div>
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags" ng-model="severity" required>Severity</label>
                                            <div class="col-lg-10">                               
                                                <select class="form-control">
                                                  <option value="">- Choose Cateogry -</option>
                                                  <option value="1">Low</option>
                                                  <option value="2">Medium</option>
                                                  <option value="3">High</option>
                                                  <option value="4">Very High</option>
                                                </select>  
                                                </div>
                                                </div>
                                                
                                        
                       
                                                       
                                          <!-- Cateogry -->
                                                   
                                          <!-- Tags -->
                                          
                                           <div class="form-group">
                                            <label class="control-label col-lg-2" for="content">Description</label>
                                            <div class="col-lg-10">
                                              <textarea class="form-control" id="content" ng-model="desc" required></textarea>
                                            </div>
                                          </div>  
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                                             <div class="col-lg-offset-2 col-lg-9">
                                                <div class="pull-left text-danger">{{formError}}</div>
                                                <button type="submit" class="btn btn-primary" ng-click="publish()">Publish</button>
                                                <button type="submit" class="btn btn-danger">Save Draft</button>
                                                <button type="reset" class="btn btn-default"  onClick="this.form.reset()" >Reset</button>
                                             </div>
                                          </div>
                                      </form>
                                    </div>
                  

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>
              
            </div>

          </section>
      </section>
</div>