<section class="panel panel-info">
                          <header class="panel-heading">

	<h3 class="modal-title">Edit My Info</h3>
</header>

<div class="panel-body" style="background-color:#C8C8C8 ">
	<form>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>First Name</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="fname"
						class="form-control" >
				</div>
				
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>Last Name</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					
						<input type="text" name="firstName" ng-model="lname"
						class="form-control" >
					
				</div>
			</div>
		</div>
		
			<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>Email</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					
						<input type="text" name="firstName" ng-model="email"
						class="form-control" >
					
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>Phone Number</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					
						<input type="text" name="firstName" ng-model="phone"
						class="form-control">
					
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-2" style="margin-left: 2%;">
				<h5>
					<strong>Address</strong>
				</h5>
			</div>
			<div class="col-xs-9 col-xs-pull-1">
				<textarea class="form-control" rows="2" ng-model="address"></textarea>
			</div>
		</div>
			<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>City</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					
						<input type="text" name="firstName" ng-model="city"
						class="form-control" >
					
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div class="pull-left text-danger">{{formError}}</div>
	<button class="btn btn-warning" ng-click="okay()">Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>



