<!-- <section id="main-content" ng-controller= "ClientDashboard">
          <section class="wrapper">            
              
      <div class="row"><h1>Client Home Page {{clientname }}</h1></div>
              
            <div class="row"></div>
  
            <div class="row"></div>  

          </section>
        </section> -->

        <!--main content start-->
        <section id="main-content" ng-controller="GuardController" ng-init="getAllData()">


            <div class="container" id="">

          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
             
           </div>

   

          
         </div>
         <br><br>
      
         <h3> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROFILE</h3>
        
<div class="container" id="">
            <div class="col-xs-8 col-sm-8 col-md8">
                     
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
          <!-- profile-widget -->
        
            <div class="col-sm-6">
         <h3 style="color:red"> 
           Personal Information
           </h3> 
            </div>
            </div>
          <div class="row" style="margin-left: 0px;">
          <div class="col-sm-6">
              <h4 style="color:"><span>First Name </span>: {{myProperties.fname}} <h4>
          </div>
          <div class="col-sm-6">
              <h4 style="color:"><span>Last Name </span>: {{myProperties.lname}} </h4>
          </div>
          </div>
          <div class="row" style="margin-left: 0px;">
          <div class="col-sm-6">
              <h4 style="color:"><span>Phone</span>: {{myProperties.phonenumber}}</h4>
          </div> 
          <div class="col-sm-6">

              <h4 style="color:"><span>Address </span>: {{myProperties.address}}</h4>          
          </div>
          </div> 
          <div class="row" style="margin-left: 0px;">
            <div class="col-sm-6">
                <h4 style="color:"><span>City </span>:  {{myProperties.city}}</h4>
            </div>          
            <div class="col-sm-6">
                
            </div>
          </div>
          <div class="row" style="margin-left: 0px;">
            <div class="col-sm-6">
                <h4 style="color:"><span>Zip Code </span>:{{myProperties.zipcode}} </h4>
            </div>
          </div>
          <div class="row" style="margin-left: 0px;">
            <div class="col-sm-6">

  
            </div>          
          </div>


            
</div>
</div>
</div>

<!-- page end-->
</section>


      <!--main content end-->