<div class="panel  panel-info">
	<h3 class="panel-heading">Edit Information</h3>
</div>

<div class="panel-body" style="background-color:#D0D0D0">
	<form>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-2">
					<h5>
						<strong>Name</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="firstName"
						class="form-control" placeholder="First Name" required>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="text" name="lastName" ng-model="lastName"
						class="form-control" placeholder="Last Name" required>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-6">
				<div class="col-xs-3">
					<h5>
						<strong>Email</strong>
					</h5>
				</div>
				<div class="col-xs-5">
					<input type="text" name="email" ng-model="email"
						class="form-control" placeholder="email" required>
				</div>
			</div>

		</div>

		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-6">
				<div class="col-xs-3">
					<h5>
						<strong>Phonenumber</strong>
					</h5>
				</div>
				<div class="col-xs-7">
					<input type="text" name="phonenumber" ng-model="phonenumber"
						class="form-control" placeholder="phonenumber" required>
				</div>
			</div>

		</div>
		
		
	

		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-2" style="margin-left: 2%;">
				<h5>
					<strong>Address</strong>
				</h5>
			</div>


			 <div class="col-xs-9 col-xs-pull-1">
			<!--  <input type="text" ng-model="address" > -->
             <!-- typeahead="address as address.formatted_address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control"> -->
				
				<textarea class="form-control" rows="2" ng-model="address"></textarea>

			</div>
		</div>

		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>City</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="city"
						class="form-control" placeholder="city" required>
				</div>

			</div>
		</div>
		
	<!-- 	<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>State</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="text" name="state" ng-model="state"
						class="form-control" placeholder="state" required>
				</div>

			</div>
		</div> -->
		
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>State</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<select ng-model="state">
					<option value="state">-- Select a State --</option>
    				<option ng-repeat="state in states" value="{{state.name}}" ng-model="state">{{state.name}}</option>
					</select>
				</div>
				
			</div>
		</div>
		
		
	
		
	<!-- 	<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>State</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					
                    <select ng-model="state">
					<option value="">-- Select a State --</option>
    				<option ng-repeat="state in states" value="{{state.name}}" ng-model="state">{{state.name}}</option>
					</select>
               </div>

			</div>
		</div> -->

		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>ZipCode</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="text" name="ZipCode" ng-model="ZipCode"
						class="form-control" placeholder="ZipCode"  required>
				</div>
			</div>
		</div>


<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Start Date</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="date" name="ZipCode" ng-model="start_date"
						class="form-control" value="start_date | date: 'yyyy-MM-dd'" required>
				</div>
			</div>
		</div>
		
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>End Date</strong>
					</h5>
				</div>
				<div class="col-xs-5 col-xs-pull-1">
					<input type="date" name="ZipCode" ng-model="end_date"
						class="form-control" value="end_date" required>
				</div>
			</div>
		</div>


	
	</div>
</div>


</form>
</div>

<div class="modal-footer">
	<div class="pull-left text-danger">{{formError}}</div>
	<button class="btn btn-warning" ng-click="okay()">Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

