
<!-- New -->

         <h3 > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YOUR BUILDINGS </h3>

	
			
			<div class="container" id="" ng-controller="ShowBuildingController" ng-init="getData()">
			 <div class="col-xs-8 col-sm-8 col-md8">
                     
                        <div class="well well-sm">
    
                          <div class="row" style="margin-left: 0px;">
				<div class="col-sm-12">
					<section class="">


						<table class="table table-striped table-advance table-hover">
							<tbody>
								<tr>
									<th> Building Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th> Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th><i ></i> Start Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th><i class=""></i> Release Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th>CheckPoint&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th> Guards&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th> Action</th>
								</tr>
								<tr ng-repeat="data in building">
									<td>{{data.buildingname}}</td>
									<td>{{data.address}}</td>
									<td>{{data.start_date | date: 'yyyy-MM-dd'}}</td>
									<td>{{data.release_date | date:'yyyy-MM-dd'}}</td> 
									<td>{{data.checkpoint}}</td>
									<td>{{data.no_of_guards}}</td>
									<td>
										<div class="btn-group">
											<a class="" ng-click="modifyBuilding(data)" href="#"><i
												class="glyphicon glyphicon-ok"></i></a> <a class=""
												ng-click="deleteBuilding(this)" href="#"><i
												class="glyphicon glyphicon-remove"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" ng-click="modifyBuilding()">Add
								Building</button>
						</div>
					</section>
				</div>
			</div>
</div>
</div>
</div>

			<!-- Single button -->


			<!-- /.navbar-collapse -->
			<!-- page end-->
		</section>
	</section>
</div>