<section class="panel panel-info">
                          <header class="panel-heading">

	<h3 >Edit Guard</h3>
</header>

<div class="panel-body" style="background-color:#C8C8C8 ">
	<form>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>First Name</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="fname"
						class="form-control" placeholder="First Name" required>
				</div>
				
			</div>
		</div>
		
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Last Name</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="lastName" ng-model="lname"
						class="form-control" placeholder="Last Name" required>
				</div>
				
			</div>
		</div>
			
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>BG Status</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="bgstatus" ng-model="bgstatus"
						class="form-control" placeholder="BG Status" required>
				</div>
				
			</div>
		</div>
		
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Weekly Working Hours</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="weekly_working_set" ng-model="weekly_working_set"
						class="form-control" placeholder="Weekly working hours" required>
				</div>
				
			</div>
		</div>
		
		
		
		
			<div class="row" style="padding-top: 2%;">

			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Start Date</strong>
					</h5>
				</div>



				<div class="col-xs-9 col-xs-pull-1">
					<p class="input-group">
						<!-- <input type="date" placeholder="yyyy-MM-dd"
							ng-model="start_date | date: 'yyyy-MM-dd'"
							value="{{ date | date: 'yyyy-MM-dd' }}" /> -->
							
							
							<input type="date" id="start_date" name="input"
							ng-model="start_date" placeholder="yyyy-MM-dd"
							 required />
					</p>
				</div>
			</div>
		</div>



		<div class="row" style="padding-top: 2%;">

			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>End Date</strong>
					</h5>
				</div>



				<div class="col-xs-9 col-xs-pull-1">

					<p class="input-group">
					<!-- 	<input type="date" placeholder="yyyy-MM-dd"
							ng-model="release_date" max=value= "{{ date | date: 'yyyy-MM-dd' }}" />
 -->
						<input type="date" id="end_date" name="input"
							ng-model="end_date" placeholder="end date"
							 required />
					</p>
				</div>
			</div>
		</div>

			<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
			<div class="col-xs-3">
					<h5>
						<strong>Address</strong>
					</h5>
				</div>
			<div class="col-xs-9 col-xs-pull-1">
				<textarea class="form-control" rows="2" ng-model="address" placeholder="address"></textarea>
			</div>
		</div>
		</div>
		
		<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>City</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="city" ng-model="city"
						class="form-control" placeholder="City" required>
				</div>
				
			</div>
		</div>
		
				<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>State</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<select ng-model="state">
					<option value="">-- Select a State --</option>
    				<option ng-repeat="state in states" value="{{state.name}}" ng-model="state">{{state.name}}</option>
					</select>
				</div>
				
			</div>
		</div>
		
			<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Zipcode</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="zipcode" ng-model="zipcode"
						class="form-control" placeholder="ZipCode" required>
				</div>
				
			</div>
		</div>
		
			<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Email</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="email" name="email" ng-model="email"
						class="form-control" placeholder="Email" required>
				</div>
				
			</div>
		</div>
		
			<div class="row" style="padding-top: 2%;">
		
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Phone Number</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="phonenumber" ng-model="phonenumber"
						class="form-control" placeholder="Phone Number" required>
				</div>
				
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div class="pull-left text-danger">{{formError}}</div>
	<button class="btn btn-primary" ng-click="okay()">Update</button>
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>



