<section class="panel panel-info">
                          <header class="panel-heading">

	<h3 class="modal-title">Add Client</h3>
</header>
<div class="panel-body" style="background-color:#C8C8C8 ">
	<form>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>First Name</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="firstname"
						class="form-control" placeholder="First Name" required>
				</div>

			</div>
		</div>

		<div class="row" style="padding-top: 2%;">

			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Last Name</strong>
					</h5>
				</div>



				<div class="col-xs-9 col-xs-pull-1">
					<p class="input-group">
						<!-- <input type="date" placeholder="yyyy-MM-dd"
							ng-model="start_date | date: 'yyyy-MM-dd'"
							value="{{ date | date: 'yyyy-MM-dd' }}" /> -->
							
							
							<input type="text" name="lastName" ng-model="lastname"
						class="form-control" placeholder="Last Name" required>
					</p>
				</div>
			</div>
		</div>



		<div class="row" style="padding-top: 2%;">

			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Start Date</strong>
					</h5>
				</div>



				<div class="col-xs-9 col-xs-pull-1">

					<p class="input-group">
					<!-- 	<input type="date" placeholder="yyyy-MM-dd"
							ng-model="release_date" max=value= "{{ date | date: 'yyyy-MM-dd' }}" />
 -->
						<input type="date" id="start_date" name="input"
							ng-model="start_date" placeholder="Start date"
							 required />
					</p>
				</div>
			</div>
		</div>


		<div class="row" style="padding-top: 2%;">

			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>End Date</strong>
					</h5>
				</div>



				<div class="col-xs-9 col-xs-pull-1">

					<p class="input-group">
					<!-- 	<input type="date" placeholder="yyyy-MM-dd"
							ng-model="release_date" max=value= "{{ date | date: 'yyyy-MM-dd' }}" />
 -->
						<input type="date" id="end_date" name="input"
							ng-model="end_date" placeholder="End date"
							 required />
					</p>
				</div>
			</div>
		</div>




		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Address</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<textarea class="form-control" rows="2" ng-model="address"></textarea>
				</div>
			</div>
		</div>


		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>City</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<textarea class="form-control" rows="2" ng-model="city"></textarea>
				</div>
			</div>
		</div>


		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Zipcode</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<textarea class="form-control" rows="2" ng-model="zipcode"></textarea>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Email</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<textarea class="form-control" rows="2" ng-model="email"></textarea>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Phone Number</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<textarea class="form-control" rows="2" ng-model="phonenumber"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div class="pull-left text-danger">{{formError}}</div>
	<button class="btn btn-warning" ng-click="okay()">Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>



