       <section class="panel panel-info">
                          <header class="panel-heading">
	<h3 class="">Publish Alert</h3></header>
<div class="panel-body" style="background-color:#C8C8C8 ">


	<form>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Description</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="description"
						class="form-control" disabled>
				</div>
				
			</div>
		</div>

		<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Severity</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="severity"
						class="form-control" disabled>
				</div>
			</div>
		</div>
		
				<div class="row" style="padding-top: 2%;">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<h5>
						<strong>Date</strong>
					</h5>
				</div>
				<div class="col-xs-9 col-xs-pull-1">
					<input type="text" name="firstName" ng-model="date"
						class="form-control" disabled>
				</div>
			</div>
		</div>
		
		<div class="checkbox">
       <label>
       <input type="checkbox" name="observers" value="911">Police Department
       </label>
       </div>
       
	   <div class="checkbox">
       <label>
       <input type="checkbox" name="fire" value="fire">Fire Department
       </label>
       </div>
		
  	   	<div class="checkbox">
       <label>
       <input type="checkbox" name="hospital" value="hospital">Hospital
       </label>
       </div>
       
       <div class="checkbox">
       <label>
       <input type="checkbox" name="domesticviolence" value="domesticviolence">Domestic Violence
       </label>
       </div>
       
       <div class="checkbox">
       <label>
       <input type="checkbox" name="poisoncontrolcenter" value="poisoncontrolcenter">Poison Control Center
       </label>
       </div>
  	</form>
	
</div>

<div class="modal-footer">
	<div class="pull-left text-danger">{{formError}}</div>
	<button class="btn btn-warning" ng-click="publish()">Publish</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>